node_modules
.svelte-kit
build
npm-debug.log*
.env
.env.*
.git
.github
.husky
AGENTS.md
audit
docs
eslint.config.js
flake.lock
flake.nix
scripts/*
!scripts/check-node-version.ts
!scripts/is-executed-directly.ts
tests
.envrc
.prettierignore
.prettierrc.json
**/*.test.*
**/__tests__/**
